body{
    margin: 0;
}
#nav-head{
    background: lemonchiffon;
    color: skyblue;
    font-weight: bold;
    display: flex;
    justify-content: center;
    /* margin: auto; */
}
.nav { display: inline; text-align: center; margin: 20px;}

.head img{
    margin-top: 0;
    display: inline-flex;
    width: 15px;
    height: 10px;
    cursor: pointer;
}
a{
    display: block;
}
a:hover,a:active{
    cursor: pointer;
}
.content{
    position: static;
    z-index: 999;
}
.content a{
    margin-top: 20px;
}
.content a:hover,a:active{
    /* background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2) !important;  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to left,#2F80ED, #56CCF2);  */ 
    color: darkred;
}
#main{
    background-color: aquamarine; 
    display: flex;
    height: 500px;
}

