body{
    margin: 0;
}

#nav {
    display: grid;
    grid-template-columns: 2fr 7fr;
    height: 80px;
    background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2F80ED, #56CCF2)!important;
    color: white;
    font-size: 17px;
    position: fixed;
    width: 100%;
    /* opacity: 0.8; */
}

#nav-head {
    display: grid;
    grid-template-columns: repeat(6, 4fr) 1fr;
}

.nav-default{
    display: flex;
    flex-direction: column;
    padding: 25px 10px 0 10px;
    text-align: center;
    align-items: center;
}
.head{
    display: inline;
    text-align: center;
    font-weight: bold;
}
.head img {
    margin: 0;
    padding: 0;
    width: 30px;
    cursor: pointer;
}                 
a {
    display: block;
    cursor: pointer;
}

.img-rotate-front{
    animation: rotate-front 0.3s;
    -webkit-animation: rotate-front 0.3s;
    animation-fill-mode: forwards;
}
.img-rotate-back{
    animation: rotate-back 0.3s;
    -webkit-animation: rotate-back 0.3s;
    animation-fill-mode: forwards;
}
@keyframes rotate-back{
    0%{transform: rotate(180deg);}
    100%{}
}
@-webkit-keyframes rotate-front /* Safari 和 Chrome */
{
    0%{-webkit-transform: rotate(180deg);}
    100%{}
}
@keyframes rotate-front{
    0%{}
    100%{transform: rotate(180deg);}
}
@-webkit-keyframes rotate-front /* Safari 和 Chrome */
{
    0%{}
    100%{-webkit-transform: rotate(180deg);}
}

.content{
    position: relative;
    width: 150%; /* 相对父元素的宽度 */
    background-color: white;
    color: grey;
    border-radius: 10px;
    overflow: hidden;
}

.content a {
    height: 42px;
    line-height: 42px;  /* 垂直居中文字 */
    text-align: center; /* 水平居中文字 */
    text-overflow: ellipsis;
    overflow:hidden;
    font-weight: normal;
    border-left:5px solid lemonchiffon;
    transition: all 0.2s linear;
}
.content a:hover, a:active{
    background-color: lightcyan;
    font-weight: bold;
    border-left: 5px solid skyblue;
}